/****************************************************
	* Development
****************************************************/

/** {
	color: red;
}*/

/** {
	background: red;
}*/

/** {
	border: 1px solid red;
}*/

/**
	* Media Queries
	*/

/* Default: Mobile */

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

}

@media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */

}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

}

@media screen and (min-width: 112.5rem) { /* Big Desktop / 112.5rem / 1800px */

}

/****************************************************
	* Format
****************************************************/

/**
	* Viewport
	*/

@viewport {
	width: device-width;
}

/**
	* Typography
	*/

/* Font Face */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i|IBM+Plex+Sans:400,400i,700,700i|IBM+Plex+Serif:400,400i,700,700i');

/* Font Family */

body {
	font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

blockquote p,
q {
	font-family: "IBM Plex Serif", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

pre,
code,
kbd,
tt,
samp,
var,
article header p,
footer p,
.card footer {
	font-family: "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

::-webkit-file-upload-button {
  font: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

/* Font Size */

/* 0 */

nav ul {
	font-size: 0;
}

/* % */

:root {
	font-size: calc( 1 * 100% ); /* 1 * 16px = 16px base rem unit */
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	:root {
		font-size: calc( 1.125 * 100% ); /* 1.125 * 16px = 18px base rem unit */
	}

}

@media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */

	:root {
		font-size: calc( 1.25 * 100% ); /* 1.25 * 16px = 20px base rem unit */
	}

}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	:root {
		font-size: calc( 1.375 * 100% ); /* 1.375 * 16px = 22px base rem unit */
	}

}

@media screen and (min-width: 112.5rem) { /* Big Desktop / 112.5rem / 1800px */

	:root {
		font-size: calc( 1.5 * 100% ); /* 1.5 * 16px = 24px base rem unit */
	}

}

sup,
sub { 
	font-size: 75%;
}

small,
.card footer {
	font-size: 85%;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
}

big {
	font-size: 112.5%;
}

.lead {
	font-size: 125%;
}

/* rem */

code,
kbd,
tt,
samp,
var,
article header p,
footer p {
	font-size: 0.85rem;
}

body,
pre,
h5,
h6,
nav li {
	font-size: 1rem;
}

h4 {
	font-size: 1.125rem;
}

h3,
blockquote p,
caption,
.archive h2 {
	font-size: 1.25rem;
}

h2,
.site-title {
	font-size: 1.5rem;
}

h1,
.page-title {
	font-size: 2rem;
}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	h4,
	big {
		font-size: 1.25rem;
	}

	h3,
	blockquote p,
	caption,
	.archive h2 {
		font-size: 1.5rem;
	}

	h2,
	.site-title {
		font-size: 2rem;
	}

	h1,
	.page-title {
		font-size: 3rem;
	}

}

/* Line Height */

sub,
sup {
  line-height: 0;
}

html {
	line-height: 1;
}

h1,
h2,
.site-title {
	line-height: 1.1;
}

h3,
h4 {
	line-height: 1.2;
}

blockquote p,
caption,
th,
td {
	line-height: 1.3;
}

body,
p,
ul,
ol,
dl,
button,
.button,
input,
optgroup,
select,
textarea {
  line-height: 1.4;
}

/* Font Weight */

h1,
h2,
h3,
h4,
h5,
h6,
th,
dt,
cite,
legend,
footer p,
.site-title,
.meta {
	font-weight: bold;
}

strong,
b,
samp {
	font-weight: bolder;
}

/* Font Style */

em,
i,
q {
	font-style: italic;
}

/* Text Decoration */

nav a,
nav a:link,
nav a:visited,
header h1 a,
.button,
.site-title a,
.card a {
	text-decoration: none;
}

/* This selector fails in some browsers; keep it isolated */
.card:focus-within a:focus {
	text-decoration: none;
}

nav a:hover,
nav a:focus,
abbr[title],
.card a:focus {
	text-decoration: underline;
}

abbr,
acronym,
abbr[title] {
	text-decoration: underline dotted;
}

/* Text Transform */

select {
  text-transform: none;
}

caption,
legend,
label,
button,
.button,
input[type="button"],
.meta {
	text-transform: capitalize;
}

/* Text Align */

th {
	text-align: left;
}

blockquote {
	text-align: center;
}

/* Letter Spacing */

/* White Space */

legend {
  white-space: normal;
}

/* Browser specific (not valid) styles to make preformatted text wrap */		
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
  tab-width: 2;
}

/* List Styles */

nav ul,
.articles,
.cards {
	list-style: none;
}

ul {
	list-style: disc;
}

ul ul {
	list-style: square;
}

ul ul ul {
	list-style: circle;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

/*summary {
  list-style-image: url(right-arrow.svg);
}

summary::-webkit-details-marker {
  background: url(right-arrow.svg);
  color: transparent;
}*/

/* Quotes */

q {
	quotes: "“" "”" "‘" "’";
}

q:before {
	content: open-quote;
}

q:after {
	content: close-quote;
}

/**
	* Colors
	*
	* https://www.w3schools.com/colors/colors_converter.asp
	* http://accessible-colors.com/
	* https://webaim.org/resources/contrastchecker/
	* http://colorsafe.co/
	* https://toolness.github.io/accessible-color-matrix/
	*/

/* Black / hsl( 0, 0%, 0% ) / rgb( 0, 0, 0 ) / #000 */

/* Darkest Gray / hsl( 0, 0%, 10% ) / rgb( 26, 26, 26 ) / #1a1a1a */

body,
button,
article header p,
footer p,
.button:link,
.button:visited,
.button:hover,
.button:focus,
.button:active {
	color: #1a1a1a;
	color: rgb( 26, 26, 26 );
	color: hsl( 0, 0%, 10% );
}

thead {
	background: #1a1a1a;
	background: rgb( 26, 26, 26 );
	background: hsl( 0, 0%, 10% );
}

/* Darker Gray / hsl( 0, 0%, 20% ) / rgb( 51, 51, 51 ) / #333 */

/* Dark Gray / hsl( 0, 0%, 30% ) / rgb( 77, 77, 77 ) / #4d4d4d */

p,
ul,
ol,
dl,
table {
	color: #4d4d4d;
	color: rgb( 77, 77, 77 );
	color: hsl( 0, 0%, 30% );
}

code {
	background: #4d4d4d;
	background: rgb( 77, 77, 77 );
	background: hsl( 0, 0%, 30% );
}

/* Medium Dark Gray / hsl( 0, 0%, 40% ) / rgb( 102, 102, 102 ) / #666 */

/* Medium Gray / hsl( 0, 0%, 50% ) / rgb( 128, 128, 128 ) / #808080 */

button:hover,
.button:hover,
input[type="button"]:hover,
kbd:hover,
button:focus,
.button:focus,
input[type="button"]:focus,
kbd:focus {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 50% );
}

.card:hover {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 50% );
}

.card:focus-within {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 50% );
}

/* Medium Light Gray / hsl( 0, 0%, 60% ) / rgb( 153, 153, 153 ) / #999 */

/* Light Gray / hsl( 0, 0%, 70% ) / rgb( 179, 179, 179 ) / #b3b3b3 */

hr {
	background: #b3b3b3;
	background: rgb( 179, 179, 179 );
	background: hsl( 0, 0%, 70% );
}

fieldset,
details,
.card {
	border: 0.125rem solid #b3b3b3;
	border-color: rgb( 179, 179, 179 );
	border-color: hsl( 0, 0%, 70% );
}

/* Lighter Gray / hsl( 0, 0%, 80% ) / rgb( 204, 204, 204 ) / #ccc */

tfoot {
	background: #ccc;
	background: rgb( 204, 204, 204 );
	background: hsl( 0, 0%, 80% );
}

button,
.button,
input[type="button"],
kbd {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 80% );
}

/* Lightest Gray / hsl( 0, 0%, 90% ) / rgb( 230, 230, 230 ) / #e6e6e6 */

table {
	box-shadow: 0 0 0.25rem 0.25rem hsl( 0, 0%, 90% );
}

/* Off White / hsl( 0, 0%, 95% ) / rgb( 242, 242, 242 ) / #f2f2f2 */

body,
tr:nth-of-type(even) {
	background: #f2f2f2;
	background: rgb( 242, 242, 242 );
	background: hsl( 0, 0%, 95% );
}

/* White / hsl( 0, 0%, 100% ) / rgb( 255, 255, 255 ) / #fff */

thead,
code,
.button_cta:link,
.button_cta:visited,
.button_cta:hover,
.button_cta:focus {
	color: #fff;
	color: rgb( 255, 255, 255 );
	color: hsl( 0, 0%, 100% );
}

table,
details[open],
kbd,
button,
.button,
.skip-link {
	background: #fff;
	background: rgb( 255, 255, 255 );
	background: hsl( 0, 0%, 100% );
}

/**
	* Order for styling hyperlinks
	*
	* :link, :visited, :hover, :focus, :active
	* “Lord Vader Hates Furry Animals”
	*/

/* Blue / hsl( 240, 100%, 55% ) / rgb( 26, 26, 255 ) / #1a1aff */

a:link,
a:visited {
	color: #1a1aff;
	color: rgb( 26, 26, 255 );
	color: hsl( 240, 100%, 55% );
}

.button_cta:link,
.button_cta:visited {
	background: #1a1aff;
	background: rgb( 26, 26, 255 );
	background: hsl( 240, 100%, 55% );
}

/* Purple / hsl( 280, 100%, 37% ) / rgb( 126, 0, 189 ) / #7e00bd */

a:hover,
a:focus {
	color: #7e00bd;
	color: rgb( 126, 0, 189 );
	color: hsl( 280, 100%, 37% );
}

.button_cta:hover,
.button_cta:focus {
	background: #7e00bd;
	background: rgb( 126, 0, 189 );
	background: hsl( 280, 100%, 37% );
}

/* Purple / hsl( 271, 68%, 32% ) / rgb( 85, 26, 139 ) / #551a8b */

/* Red / hsl( 0, 100%, 50% ) / rgb( 255, 0, 0 ) / #f00 / red */

a:active {
	color: red;
	color: #f00;
	color: rgb( 255, 0, 0 );
	color: hsl( 0, 100%, 50% );
}

.button_cta:active {
	background: red;
	background: #f00;
	background: rgb( 255, 0, 0 );
	background: hsl( 0, 100%, 50% );
}

/**
	* Colorless / Transparent
	*/

/* Webkit Appearance */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
::-webkit-file-upload-button {
  -webkit-appearance: button;
}

[type="search"] {
  -webkit-appearance: textfield;
}

/* Color */

legend {
  color: inherit;
}

/* Background */

a {
  background-color: transparent;
}

/* Border */

/* none */

input,
textarea,
button,
input[type="button"],
hr,
iframe,
.pagination a[aria-current="true"] {
	border: none;
}

img,
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
}

tfoot th,
tfoot td,
abbr[title] {
	border-bottom: none;
}

/* rem */

.pagination a {
	border: 0.0625rem solid;
}

/* Outline */

/* This selector fails in some browsers; keep it isolated */
:focus:not(:focus-visible) {
	outline: none;
}

/* This selector fails in some browsers; keep it isolated */
.card:focus-within a:focus {
	outline: none;
}

/* This selector fails in some browsers; keep it isolated */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="search"] {
  outline-offset: -2px;
}

/* Opacity */

.js .navigation ul {
	opacity: 0;
}

.js .navigation .is-active {
	opacity: 1;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.js .navigation ul {
		opacity: 1;
	}

}

/**
	* Background Images
	*/

/* Background Blend Mode */

/* Mix Blend Mode */

/**
	* Utility
	*/

/* Cursor */

button,
input,
summary {
	cursor: pointer;
}

/* Clip Path */

/* Transform */

/* Transition */

a {
	transition: color 200ms ease;
}

button,
.button,
input[type="button"],
kbd {
	transition: box-shadow 200ms ease;
}

.js .navigation ul {
	transition: all 500ms;
}

/* Content */

/* Animation Keyframes */

/****************************************************
	* Layout
****************************************************/

/**
	* Box Model
	*/

/* Box Sizing */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Border Radius */

kbd,
code,
details,
button,
.button,
input[type="text"],
input[type="password"],
input[type="button"],
textarea,
.skip-link {
	border-radius: 0.25em;
}

table,
fieldset,
.card {
	border-radius: 1em;
}

thead th:first-child,
thead td:first-child,
.card img {
	border-top-left-radius: 1em;
}

thead th:last-child,
thead td:last-child,
.card img {
	border-top-right-radius: 1em;
}

tfoot th:first-child,
tfoot td:first-child {
	border-bottom-left-radius: 1em;
}

tfoot th:last-child,
tfoot td:last-child {
	border-bottom-right-radius: 1em;
}

/* Border Collapse */

table {
	border-collapse: collapse;
}

/* Border Spacing */

table {
	border-spacing: 0;
}

/* Object Fit */

.card__image img {
  object-fit: cover;
}

/* Display */

[hidden],
template {
	display: none;
}

kbd,
nav li,
.button {
	display: inline-block;
}

details,
input[type="text"],
input[type="password"],
select,
textarea,
pre code,
.navigation li,
.navigation a {
	display: block;
}

legend {
  display: table;
}

summary {
	display: list-item;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	nav button {
		display: none;
	}

	input[type="text"],
	input[type="password"],
	select,
	textarea,
	.navigation li {
		display: inline-block;
	}

}

/* Dimensions */

/* Width */

/* % */

.card__image img {
  width: 100%;
}

/* ch */

.site-footer {
  width: 65ch;
}

/* Min Width */

/* Max Width */

/* % */

img,
embed,
iframe,
object,
audio,
video,
legend,
textarea,
.site-footer {
  max-width: 100%;
}

/* ch */

p,
main ul,
main ol,
main dl,
article,
.container/*,
.card__text*/ {
	max-width: 65ch;
}

/* Height */

/* auto */

img,
embed,
iframe,
object,
audio,
video,
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* % */

.card__image img {
  height: 100%;
}

/* rem */

hr {
	height: 0.125rem;
}

.card__image {
  height: 10rem;
}

/* Min Height */

/* Max Height */

/* 0 */

.js .navigation ul {
	max-height: 0;
}

/* vh */

.js .navigation .is-active {
	max-height: 100vh;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.js .navigation ul {
		max-height: none;
	}

}

/* Padding */

/* 0 */

legend,
[type="checkbox"],
[type="radio"],
nav ul,
.articles,
.cards {
  padding: 0;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
}

/* rem */

input[type="text"],
input[type="password"],
input[type="button"],
textarea,
button,
.button,
.skip-link {
	padding: 0.25rem;
}

kbd,
code {
	padding: 0 0.25rem;
}

nav a,
.button_cta {
	padding: 0.5rem;
}

legend {
	padding: 0 0.5rem;
}

fieldset,
pre code,
details[open],
details:not([open]) summary,
.container,
.card__text {
	padding: 1rem;
}

/* em */

th,
td {
	padding: 0.5em;
}

caption {
	padding: 1em;
}

dl {
	padding: 0 0 0 1em;
}

ul,
ol,
dd {
	padding: 0 0 0 2em;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	th,
	td {
		padding: 1em;
	}

}

/* Margin */

/* 0 */

body,
ul ul,
ol ol,
dd,
pre code,
button,
input,
optgroup,
select,
textarea,
article header p:first-of-type,
.site-title,
.cards p {
  margin: 0;
}

/* auto */

.pagination ul {
	margin: 0 auto;
}

/* % */

/* rem */

.pagination a {
	margin: 0 0.125rem;
}

kbd,
code {
	margin: 0 0.125rem;
}

nav ul {
	margin: 0 -0.5rem;
}

hr,
form div {
	margin: 1rem 0;
}

.card {
	margin: 2rem 0.5rem;
}

.single article footer {
	margin: 4rem 0 0;
}

.single article header {
	margin: 0 0 4rem;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.card {
		margin: 1rem 0.5rem;
	}

}

/* em */

dd + dt {
	margin: 1em 0 0;
}

p,
ul,
ol,
dl,
article header p:only-of-type {
	margin: 0 0 1em;
}

h1,
.page-title {
	margin: 1em 0 0.5em;
}

blockquote {
	margin: 2em;
}

details,
form,
table {
	margin: 2em 0;
}

h2,
h3,
h4,
h5,
h6 {
	margin: 2em 0 0.5em;
}

.pagination {
	margin: 4em 0;
}

/* Margin Top */

/* 0 */

.card__text > * {
	margin-top: 0;
}

/* auto */

.card__text :last-child {
  margin-top: auto;
}

/* rem */

.card__text > * + * {
  margin-top: 1rem;
}

article img + * {
	margin-top: 2rem;
}

/* Margin Bottom */

/* rem */

.card__text :nth-last-child(2) {
  margin-bottom: 1rem;
}

/* em */

blockquote p {
	margin-bottom: 0.5em;
}

/**
	* Float
	*/

/**
	* Position
	*/

.skip-link {
	position: absolute;
}

sub,
sup {
  position: relative;
}

/* Top */

sup {
  top: -0.5em;
}

.skip-link:focus {
	top: 0.5rem;
}

.skip-link {
	top: -3rem;
}

/* Bottom */

sub {
  bottom: -0.25em;
}

/* Left */

.skip-link:focus {
	left: 0.5rem;
}

/* Overflow */

button,
input {
	overflow: visible;
}

.js .navigation ul {
	overflow: hidden;
}

textarea {
  overflow: auto;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.js .navigation ul {
		overflow: auto;
	}

}

/* Overflow X */

/* Overflow Y */

body {
	overflow-y: scroll;
}

/* Vertical Align */

label {
	vertical-align: top;
}

sub,
sup,
progress {
  vertical-align: baseline;
}

/* Z-Index */

/**
	* Flexbox
	*/

.card,
.card__text {
  display: flex;
  flex-direction: column;
}

.card__text {
  flex-grow: 1;
  order: 1;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	nav ul {
		display: flex;
		justify-content: flex-start;
	}

	.pagination ul {
		justify-content: center;
	}

}

/**
	* Grid
	*/

body,
main {
	display: grid;
}

body {
	grid-template-columns: 1fr auto auto 1fr;
}

main {
	grid-template-columns: 1fr 1fr auto 1fr 1fr;
}

body > * {
	grid-column: 2 / -2;
}

main {
	grid-column: 1 / -1;
}

main > * {
	grid-column: 3 / -3;
}

.cards {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 15rem, 1fr ) );
  grid-gap: 2rem;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.cards {
	  grid-gap: 1rem;
	}

}

@media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */

	.site-header {
		grid-column: 2 / span 1;
	}

	.navigation {
		grid-column: 3 / span 1;
	}

	.site-header,
	.navigation {
		align-self: center;
	}

}

/* Supports Grid */

@supports (display: grid) {

	/* Margin */

	/* 0 */

  .card {
  	margin: 0;
  }

}