/****************************************************
	* Development
****************************************************/

/** {
	color: red;
}*/

/** {
	background: red;
}*/

/** {
	border: 1px solid red;
}*/

/**
	* Media Queries
	*/

/* Default: Mobile */

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

}

@media screen and (min-width: 56.25rem) { /* Tablet Landscape / 37.5rem / 900px */

}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

}

@media screen and (min-width: 112.5rem) { /* Big Desktop / 112.5rem / 1800px */

}

/****************************************************
	* Format
****************************************************/

/**
	* Typography
	*/

/* Font Face */

/* Font Family */

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

blockquote p,
q {
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

pre,
code,
kbd,
tt,
samp,
var,
footer p {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* Font Size */

/* % */

:root {
	font-size: calc( 1 * 100% ); /* 1 * 16px = 16px base rem unit */
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	:root {
		font-size: calc( 1.125 * 100% ); /* 1.125 * 16px = 18px base rem unit */
	}

}

@media screen and (min-width: 56.25rem) { /* Tablet Landscape / 37.5rem / 900px */

	:root {
		font-size: calc( 1.25 * 100% ); /* 1.25 * 16px = 20px base rem unit */
	}

}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	:root {
		font-size: calc( 1.375 * 100% ); /* 1.375 * 16px = 22px base rem unit */
	}

}

@media screen and (min-width: 112.5rem) { /* Big Desktop / 112.5rem / 1800px */

	:root {
		font-size: calc( 1.5 * 100% ); /* 1.5 * 16px = 24px base rem unit */
	}

}

sup,
sub { 
	font-size: 75%;
}

small {
	font-size: 85%;
}

big {
	font-size: 112.5%;
}

/* rem */

code,
kbd,
tt,
samp,
var,
footer p {
	font-size: 0.85rem;
}

body,
input,
textarea,
select,
button,
pre,
h5,
h6 {
	font-size: 1rem;
}

h4 {
	font-size: 1.125rem;
}

h3,
blockquote p,
caption {
	font-size: 1.25rem;
}

h2 {
	font-size: 1.5rem;
}

h1 {
	font-size: 2rem;
}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	h4,
	big {
		font-size: 1.25rem;
	}

	h3,
	blockquote p,
	caption {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h1 {
		font-size: 3rem;
	}

}

/* Line Height */

html {
	line-height: 1;
}

h1,
h2,
h3,
h4 {
	line-height: 1.2;
}

blockquote p,
caption,
th,
td {
	line-height: 1.3;
}

body,
p,
ul,
ol,
dl {
	line-height: 1.4;
}

/* Font Weight */

h1,
h2,
h3,
h4,
h5,
h6,
th,
dt,
cite,
legend {
	font-weight: bold;
}

strong,
b,
samp {
	font-weight: bolder;
}

/* Font Style */

em,
i,
q {
	font-style: italic;
}

/* Text Decoration */

nav a,
nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover,
nav a:focus,
abbr[title] {
	text-decoration: underline;
}

abbr,
acronym,
abbr[title] {
	text-decoration: underline dotted;
}

/* Text Transform */

caption,
legend,
button {
	text-transform: capitalize;
}

/* Text Align */

th {
	text-align: left;
}

blockquote {
	text-align: center;
}

/* Letter Spacing */

/* White Space */

/* List Styles */

nav ul {
	list-style: none;
}

ul {
	list-style: disc;
}

ul ul {
	list-style: square;
}

ul ul ul {
	list-style: circle;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

/* Quotes */

q {
	quotes: "“" "”" "‘" "’";
}

q:before {
	content: open-quote;
}

q:after {
	content: close-quote;
}

/**
	* Colors
	*
	* https://www.w3schools.com/colors/colors_converter.asp
	* http://accessible-colors.com/
	* https://webaim.org/resources/contrastchecker/
	* http://colorsafe.co/
	* https://toolness.github.io/accessible-color-matrix/
	*/

/* Black / hsl( 0, 0%, 0% ) / rgb( 0, 0, 0 ) / #000 */

/* Darkest Gray / hsl( 0, 0%, 10% ) / rgb( 26, 26, 26 ) / #1a1a1a */

body {
	color: #1a1a1a;
	color: rgb( 26, 26, 26 );
	color: hsl( 0, 0%, 10% );
}

thead {
	background: #1a1a1a;
	background: rgb( 26, 26, 26 );
	background: hsl( 0, 0%, 10% );
}

/* Darker Gray / hsl( 0, 0%, 20% ) / rgb( 51, 51, 51 ) / #333 */

/* Dark Gray / hsl( 0, 0%, 30% ) / rgb( 77, 77, 77 ) / #4d4d4d */

p,
ul,
ol,
dl,
table {
	color: #4d4d4d;
	color: rgb( 77, 77, 77 );
	color: hsl( 0, 0%, 30% );
}

code {
	background: #4d4d4d;
	background: rgb( 77, 77, 77 );
	background: hsl( 0, 0%, 30% );
}

/* Medium Dark Gray / hsl( 0, 0%, 40% ) / rgb( 102, 102, 102 ) / #666 */

/* Medium Gray / hsl( 0, 0%, 50% ) / rgb( 128, 128, 128 ) / #808080 */

/* Medium Light Gray / hsl( 0, 0%, 60% ) / rgb( 153, 153, 153 ) / #999 */

/* Light Gray / hsl( 0, 0%, 70% ) / rgb( 179, 179, 179 ) / #b3b3b3 */

hr {
	background: #b3b3b3;
	background: rgb( 179, 179, 179 );
	background: hsl( 0, 0%, 70% );
}

fieldset {
	border: 0.125rem solid #b3b3b3;
	border-color: rgb( 179, 179, 179 );
	border-color: hsl( 0, 0%, 70% );
}

/* Lighter Gray / hsl( 0, 0%, 80% ) / rgb( 204, 204, 204 ) / #ccc */

tfoot {
	background: #ccc;
	background: rgb( 204, 204, 204 );
	background: hsl( 0, 0%, 80% );
}

kbd {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 80% );
}

/* Lightest Gray / hsl( 0, 0%, 90% ) / rgb( 230, 230, 230 ) / #e6e6e6 */

table {
	box-shadow: 0 0 0.25rem 0.25rem hsl( 0, 0%, 90% );
}

/* Off White / hsl( 0, 0%, 95% ) / rgb( 242, 242, 242 ) / #f2f2f2 */

body,
tr:nth-of-type(even) {
	background: #f2f2f2;
	background: rgb( 242, 242, 242 );
	background: hsl( 0, 0%, 95% );
}

/* White / hsl( 0, 0%, 100% ) / rgb( 255, 255, 255 ) / #fff */

thead,
code {
	color: #fff;
	color: rgb( 255, 255, 255 );
	color: hsl( 0, 0%, 100% );
}

table,
kbd {
	background: #fff;
	background: rgb( 255, 255, 255 );
	background: hsl( 0, 0%, 100% );
}

/**
	* Colorless / Transparent
	*/

/* Background */

a {
  background-color: none;
}

/* Border */

input,
textarea,
button,
input[type="button"],
hr,
iframe {
	border: none;
}

tfoot th,
tfoot td,
abbr[title] {
	border-bottom: none;
}

/* Outline */

:focus:not(:focus-visible) {
	outline: none;
}

/* Opacity */

/**
	* Background Images
	*/

/* Background Blend Mode */

/* Mix Blend Mode */

/**
	* Utility
	*/

/* Cursor */

button,
input {
	cursor: pointer;
}

/* Clip Path */

/* Transform */

/* Transition */

/* Content */

/* Animation Keyframes */

/****************************************************
	* Layout
****************************************************/

/**
	* Box Model
	*/

/* Box Sizing */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Border Radius */

kbd,
code {
	border-radius: 0.25em;
}

table {
	border-radius: 1em;
}

thead th:first-child,
thead td:first-child {
	border-top-left-radius: 1em;
}

thead th:last-child,
thead td:last-child {
	border-top-right-radius: 1em;
}

tfoot th:first-child,
tfoot td:first-child {
	border-bottom-left-radius: 1em;
}

tfoot th:last-child,
tfoot td:last-child {
	border-bottom-right-radius: 1em;
}

/* Border Collapse */

table {
	border-collapse: collapse;
}

/* Border Spacing */

table {
	border-spacing: 0;
}

/* Object Fit */

/* Display */

kbd {
	display: inline-block;
}

pre code {
	display: block;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	nav li {
		display: inline-block;
	}

}

/* Dimensions */

/* Width */

/* Min-Width */

/* Max-Width */

img,
embed,
iframe,
object,
audio,
video {
	max-width: 100%;
}

/* Height */

img,
embed,
iframe,
object,
audio,
video {
	height: auto;
}

hr {
	height: 0.125rem;
}

/* Min-Height */

/* Max-Height */

/* Padding */

/* 0 */

nav ul {
	padding: 0;
}

/* rem */

input[type="text"],
input[type="password"],
input[type="button"],
textarea,
button {
	padding: 0.25rem;
}

kbd,
code {
	padding: 0 0.25rem;
}

legend {
	padding: 0 0.5rem;
}

body,
fieldset,
pre code {
	padding: 1rem;
}

/* em */

th,
td {
	padding: 0.5em;
}

caption {
	padding: 1em;
}

dl {
	padding: 0 0 0 1em;
}

ul,
ol,
dd {
	padding: 0 0 0 2em;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	th,
	td {
		padding: 1em;
	}

}

/* Margin */

/* 0 */

body,
ul ul,
ol ol,
dd,
pre code {
	margin: 0;
}

/* rem */

kbd,
code {
	margin: 0 0.125rem;
}

hr {
	margin: 1rem 0;
}

/* em */

h1 {
	margin: 0 0 0.5em;
}

table,
form {
	margin: 2em 0;
}

dd + dt {
	margin: 1em 0 0;
}

p,
ul,
ol,
dl {
	margin: 0 0 1em;
}

blockquote {
	margin: 2em;
}

h2,
h3,
h4,
h5,
h6 {
	margin: 2em 0 0.5em;
}

/* Margin Top */

table + table {
	margin-top: 2em;
}

/* Margin Bottom */

blockquote p {
	margin-bottom: 0.5em;
}

/**
	* Float
	*/

/**
	* Position
	*/

/* Overflow */

/* Vertical Align */

label {
	vertical-align: top;
}

/* Z-Index */

/**
	* Flexbox
	*/

/**
	* Grid
	*/
